<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div>
    <h3>소셜 로그인</h3>
</div>
<div>
    <a href="/oauth2/authorization/google" class="btn btn-primary active" role="button">Google Login</a>
    <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a>
    <a href="/oauth2/authorization/kakao" class="btn btn-warning active" role="button">Kakao Login</a>
</div>
</body>
</html>